html {
	background-image : linear-gradient(to bottom ,blueviolet,black);
}

#head{
	height: 110vh ;
}

#main_logo {
	width: 50%;
	display: block;
	margin: auto;
}

#slogan {
	display: block;
	text-align: center;
	margin-top: 5%;
	color: red;
	font-size: 50px;
	font-family: serif;
}

#container {
	display: flex;
}

.bloc {
	border-radius: 3px;
	border: solid 2px black;
	background-color: lightgrey;
}

#left_hand {
	width: 20%;
	margin: 5px;
	height: fit-content;
}

#left_hand > p {
	display: block;
	text-align: center;
}

#right_hand {
	margin: 5px;
	flex-grow: 1;
	height: 500px;
}

ol {
	list-style-type: none;
}


a:link, a:visited {
	background-color: black;
	width: 100%;
	padding: 10px;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	box-sizing: border-box;
}

a:hover {
	background-color: gray;
}